<script>

    function deleteBlob(blobId) {

        document.forms['deleteBlobForm' + blobId].submit();

    }


    function submitForm() {

        if ($('#upload input[type=file]').get(0).files.length >= 1) {
            $("#myProgress").append('<div id="progress-bar" class="progress-bar progress-bar-striped active " role="progressbar"></div>');

            move();
            document.forms['upload'].submit();

        } else {
            $("#itemNameError").html("No file chosen. By clicking the Choose Files button below, you can select the files you want to upload.");
        }

    }

    function move() {
        var elem = document.getElementById("progress-bar"); //progress-bar // myBar
        var width = 1;
        var id = setInterval(frame, 10);

        function frame() {
            if (width >= 100) {
                clearInterval(id);
                location.reload();
            } else {
                width++;
                elem.style.width = width + '%';
                elem.innerHTML = width * 1 + '%';
            }

        }
    }

    <!--var template = new EJS({url: '/container_contents.ejs'});-->
    <!--$(function(){-->
        <!--$('#switch_button').change(function(){-->
            <!--if ($(this).prop('checked')){-->
                <!--console.log("<%= azureAccount %>");-->
                <!--$("#container_contents").html(template.render())-->

            <!--}else{-->
                <!--console.log("<%= currentContainer %>");<%getContainerContent(true)%>;-->
                <!--$("#container_contents").html(template.render())-->
            <!--}-->

        <!--})-->
    <!--})-->


</script>

<style>

    #myProgress {
        width: 90%;
        background-color: #ddd;
    }

    .image_frame {
        height: 100px;
        width: 170px;
        margin: 0 auto;
        overflow: hidden;
        cursor: pointer;
    }

    .thumbnail_title{
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }


</style>

<section class="mainSection">

    <% if (serverBlobs === null) { %>
    No folder selected. <a href="./">Click here to select or create a folder</a>.
    <% } else { %>
    <h2 class="pageTitle">File Uploader</h2>

    <div id="myProgress">


    </div>
    <br>

    <form id="upload" action="/uploadhandler" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Choose the files you want to upload</legend>
            <span id="itemNameError" class="error"></span>
            <input class="form-control-file" type="file" id="files" name="uploadedFile" multiple="multiple"/><br>
            <input type="button" class="submit btn-primary" value="Upload" title="Upload"
                   onclick="javascript:submitForm()"/>
        </fieldset>
    </form>


    <br><br>
    <h2 class="pageTitle">Files in <font face="Verdana" color="green"><%= currentContainer %></font></h2>

    <!-- switch button -->
    <div class="checkbox">
        <label>
            <input id="switch_button" type="checkbox" data-toggle="toggle" data-on="Card View" data-off="List View">
        </label>
    </div>
    <!-- end of switch button -->

    <% if (serverBlobs.length > 0) { %>

    <div id="container_contents">
        <%
        getContainerContent = function(ccflag) {
        if (ccflag){
        for (var i = 0, tmpArray, chunk = 4; i < serverBlobs.length; i += chunk) {
            tmpArray = serverBlobs.slice(i, i + chunk);
        %>
        <div class="row">
            <% for (var ii = 0; ii < tmpArray.length;ii++) { %>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="image_frame" data-toggle="modal" data-target="#previewModal<%= i+ii %>">
                        <img src="https://<%= azureAccount %>.blob.core.windows.net/<%= currentContainer %>/<%= tmpArray[ii].name %>" class="img-responsive" alt="Failed to load the file."  />
                    </div>

                    <div class="caption">
                        <h4 class="thumbnail_title" ><%= tmpArray[ii].name %></h4>

                        <div class="clearfix">
                            <a class="btn btn-default" href="/Download/<%= tmpArray[ii].name %>" role="button"> <i class="fa fa-download" aria-hidden="true"></i> Download </a>
                            <a class="btn btn-primary" class="badge" data-toggle="modal" data-target="#deleteBlobModal<%= ii+i %>" role="button"><i class="fa fa-trash" aria-hidden="true"> </i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal for delete -->
            <div class="modal fade" id="deleteBlobModal<%= ii+i %>" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Delete File</h4>
                        </div>
                        <form id="deleteBlobForm<%= ii+i %>" action="/Delete/<%= tmpArray[ii].name %>" method="post" enctype="multipart/form-data">
                            <div class="form-group" id="DeleteBlobConfirmationDialog<%= ii+i %>">

                                <p class="modal-body text-center pagination-centered"> Are you sure you want to delete the file <%= tmpArray[ii].name %>?</p>
                            </div>
                        </form>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="create-blob-button" onclick="javascript:deleteBlob('<%= ii+i %>')">Delete </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Modal for preview -->
            <div class="modal fade" id="previewModal<%= i+ii %>" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><%= tmpArray[ii].name %></h4>
                        </div>

                        <div class="thumbnail">
                            <img src="https://<%= azureAccount %>.blob.core.windows.net/<%= currentContainer %>/<%= tmpArray[ii].name %>" class="img-responsive" alt="Failed to load the file.">
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <% } %>
        </div>
        <% }
        }else{ %>

        <table class="table table-hover">
            <tr>
                <th>File Name</th>
                <th>Upload Time</th>
                <th>Operations</th>
            </tr>

            <% for (var i = 0; i < serverBlobs.length; i++) { %>

            <tr>
                <td><%= serverBlobs[i].name %></td>

                <td><%= serverBlobs[i].lastModified %></td>

                <td>
                    <!--button for preview-->
                    <a class="fa fa-eye" aria-hidden="true" class="badge" data-toggle="modal"
                       data-target="#previewModal<%= i %>"></a>

                    <!-- button for download -->
                    <a class="fa fa-download" href="/Download/<%= serverBlobs[i].name %>"></a>

                    <!-- button for delete -->
                    <a class="fa fa-trash" class="badge" data-toggle="modal"
                       data-target="#deleteBlobModal<%= i %>"></a>



                </td>
            </tr>


            <!-- Modal for delete -->
            <div class="modal fade" id="deleteBlobModal<%= i %>" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Delete File</h4>
                        </div>
                        <form id="deleteBlobForm<%= i %>" action="/Delete/<%= serverBlobs[i].name %>"
                              method="post" enctype="multipart/form-data">
                            <div class="form-group" id="DeleteBlobConfirmationDialog<%= i %>">

                                <p class="modal-body text-center pagination-centered"> Are you
                                    sure you want to delete the file <%= serverBlobs[i].name %>?</p>
                            </div>
                        </form>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="create-blob-button"
                                    onclick="javascript:deleteBlob('<%= i %>')">Delete
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Modal for preview -->
            <div class="modal fade" id="previewModal<%= i %>" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">File Preview</h4>
                        </div>

                        <div class="thumbnail">
                            <img src="https://<%= azureAccount %>.blob.core.windows.net/<%= currentContainer %>/<%= serverBlobs[i].name %>" class="img-responsive" alt="Failed to load the file.">
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <% } %>
        </table>


        <%
        }

        }

            getContainerContent(false);
        %>



    </div><!-- end of container_contents -->

    <% } else { %>
    <p>Nothing to see here. <a href="#files">Use the file uploader above to upload.</a></p>
    <% } %>
    <% } %>

</section>