<script>

    function createNewContainer() {
        if ($('#containerNameBox').val().length === 0) {
            $('#containerNameError').html("You must provide a valid name!");
        } else {
            document.forms['createConatinerForm'].submit();
        }
    }

    function deleteContainer(containerId) {
        document.forms['deleteConatinerForm' + containerId].submit();

    }

    function chooseContainerName(containerName) {
        <!--console.log(<%= currentContainer %>);-->
        $.ajax({
            type: 'get',
            url: '/SelectContainer/' + containerName
//            data: {"containername": containerName}
        })
        location.reload();
    }

</script>

<section class="mainSection">
    <h1 class="pageTitle">Folders Management</h1>


    <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">Create New Folder</button>

    <br><br>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create Container</h4>
                </div>
                <form id="createConatinerForm" action="/CreateContainer" method="post" enctype="multipart/form-data">
                    <div class="modal-body pagination-centered">
                        <label for="containerNameBox">What is the name of the new blob container?</label>
                        <span id="containerNameError" class="error"></span>
                        <input class="form-control" name="containerNameBox" id="containerNameBox"/>
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="create-container-button"
                            onclick="javascript:createNewContainer()">Create
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="container">

        <div id="containerIndex">
            <legend>Select the folder you want to use</legend>
        </div>


        <table class="table table-hover">
            <tr>
                <th>Folder Name</th>
                <!--<th>Upload Time</th>-->
                <th>Operations</th>
            </tr>
            <% if (serverContainers.length > 0) { %>

            <% for (var i = 0; i < serverContainers.length; i++) { %>
            <tr class="clickable-row" id="<%= serverContainers[i].name %>">
                <td><i class="fa fa-folder-open-o" aria-hidden="true"></i><%= serverContainers[i].name %></td>

                <td>
                    <% if (serverContainers[i].name === currentContainer){ %>
                    <span style="cursor: pointer;width: 70px; background-color: #468847;" type="button" class="badge"
                          onclick="javascript:chooseContainerName('<%= serverContainers[i].name %>')">
                        Selected
                    </span>
                    <% }else{ %>
                    <span style="cursor: pointer;width: 70px; background-color: #f89406;" type="button" class="badge"
                          onclick="javascript:chooseContainerName('<%= serverContainers[i].name %>')">
                        Select
                    </span>
                    <% } %>
                    <% if (currentContainer.length !== ""){ %>
                    <span style="cursor: pointer;width: 70px;" type="button" class="badge" data-toggle="modal"
                          data-target="#deleteContainerModal<%= i %>">Delete</span>
                    <% } %>

                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="deleteContainerModal<%= i %>" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Delete Container</h4>
                        </div>
                        <form id="deleteConatinerForm<%= i %>" action="/DeleteContainer/<%= serverContainers[i].name %>"
                              method="post" enctype="multipart/form-data">
                            <div class="form-group" id="DeleteContainerConfirmationDialog<%= i %>">

                                <p class="modal-body text-center pagination-centered"> Are you
                                    sure you want to delete the container <%= serverContainers[i].name %>?</p>
                            </div>
                        </form>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="create-container-button"
                                    onclick="javascript:deleteContainer('<%= i %>')">Delete
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <% } %>

            <% } else { %>
            <tr>
                <td>Currently no existing container...</td>
                <!--<td></td>-->
                <td></td>
            </tr>
            <% } %>
        </table>
    </div>


    </table>


</section>